<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    
    <form th:action="@{/contact}" method="post", th:object="${contact}">
        <p>Email: </p> <input type="text" th:field="*{email}"/>
        <p>Name: </p> <input type="text" th:field="*{name}"/>
        <p>Phone: </p> <input type="text" th:field="*{phone}"/>

        <div>
            <p>Status: </p>
            <select th:field="*{status}">
                <option th:value="friend">friend</option>
                <option th:value="foe">foe</option>
            </select>
        </div>

        <div>
            <p>Date: </p>
            <input type="date" placeholder="yyyy-mm-dd" th:field="*{date}"/>
        </div>

        <p>Pass Phrase: </p> <input type="password" th:field="*{passPhrase}"/>

        <input type="submit" value="Add"/>
    </form>

    <div th:if="${errorMsg.length() > 0}">
        <p th:text="${errorMsg}"></p>
    </div>

</body>
</html>